@import url("animation.css");

*{
	margin: 0;
	padding: 0;
}
.clearfix{
	content: "";
	display: table;
	clear: both;
}

body{
	background: url(photo-1468756929288-4e17d801e514.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: tahoma, verdana, sans-serif;
	font-weight: normal;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}

.wrapper{
	background: rgba(191, 201, 201, 0.3);
	border-radius: 5px;
	padding-top: 40px; 
	width: 90%;
	height: 500px;
	margin: 30px auto;
}

nav{
margin: 0 auto;
}

nav ul{
	float: left;
}

nav ul li{
	float: right;
}

nav ul li a{
	background: rgba(255, 255, 255, 0.08);
	color: #484a4a;
	display: inline-block;
	padding: 8px 40px;
	margin-right: 20px;
	position: relative;
	z-index: 1;
	transition: .3s;
}

nav ul li a:hover{
	background: transparent; 
	color: #555;
}

nav ul li.project{
	overflow: hidden;
	width: 188px;
	height: 35px;
}

nav ul li a.inner{ 
	text-align: center;
	padding: 15px 40px;
  background: rgba(255, 255, 255, 0.08);;
  display: block;
}

nav ul li a.inner:hover{
	background: transparent;
	color: #000;
}

nav ul li.project:hover{
	-webkit-animation: uit .5s forwards; 
	  -moz-animation: uit .5s forwards;	
		    animation: uit .5s forwards;
}



	h1{
		font-size: 51px;
		font-weight: normal;
		color: #484644;
		margin: 50px auto;
		width: 640px;
	}

	p{
		font-family: roboto light;
		font-size: 18px;
		letter-spacing: 1px;
		width: 1000px;
		margin: 20px auto 70px;
	}


/*HOVER=================================*/

a:after{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  height: 1px;
  transition: .5s;
}

a:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-animation: fill .3s forwards ;
     -moz-animation: fill .3s forwards ;
       animation: fill .3s forwards ;
  z-index: -1;
}



@keyframes fill {
  0% {
  	opacity: .1;
    width: 0;
    height: 100%;
  }
  50% {
  	opacity: .2;
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 1px;
    background: #999;
  }

 



